@import "../../../styles/utils/_mixins/mixins";
@import "../../../styles/base/_variables/variables";

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: white;
    z-index: 50;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container;
}

.logo {
    font-size: x-large;
    font-weight: 600;
    color: $brand-blue;

    #{&}-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
}

.aside {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

    @include max-sm {
        gap: 10px;
    }

    input {
        border-radius: 8px;
        border: 1px solid $brand-grey;
        padding: 10px 16px 10px 44px;
        font-size: 14px;
        outline: none;
        width: 350px;

        // Media queries for responsive design
        @include max-md {
            width: 250px;
        }

        @include max-sm {
            width: 100%;
            max-width: 200px;
            display: none;
        }
    }

    .relative {
        position: relative;
    }

    #{&}-search {
        position: absolute;
        top: 0;
        z-index: 50;
        bottom: 0;
        margin: auto;
        margin-left: 12px;
        @include max-sm {
            position: relative;
        }
    }

    #{&}-bell {
        color: $brand-blue;
        font-size: 30px;
        @include max-sm {
            font-size: 26px;
        }
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .text {
            display: flex;
            flex-direction: column;
            align-items: end;
            font-weight: normal;
            @include max-lg {
                display: none;
            }
        }
    }
}