@import "../../styles/base/_variables/variables";

.breadcrumb {
    width: 100%;
}
.font-medium {
    font-weight: 500;
}

.text-gray {
    color: $brand-grey;
}

.capitalize {
    text-transform: capitalize;
    font-size: large;
}
